                </main>
            </div>
            <footer class="site-footer">
                <div class="container">
                    <div class="main">
                        <a href="index.html" class="logo">
                            <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                        </a>
                        <a href="tel:88007008484" class="tel">8 800 700 84 84</a>
                        <span class="day_work">Ежедневно с 9:00 до 19:00</span>
                        <a href="mailto:info@rabotut.ru" class="email">info@rabotut.ru</a>
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="vacancies.html">Вакансии</a></li>
                            <li><a href="stock.html">Акции</a></li>
                            <li><a href="staff.html">Сотрудникам</a></li>
                            <li><a href="faq.html">Вопрос и ответ</a></li>
                        </ul>
                        <ul>
                            <li><a href="offices.html">Наши офисы</a></li>
                            <li><a href="about.html">О нас</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <a href="img/rabotut_policy.pdf" target="_blank">Политика конфиденциальности</a>
                        <p>©2017-2017 Rabotut. <br class="visible-xs visible-sm">Все права защищены</p>
                        <p>Сайт сделали в <a href="www.ibrush.ru" target="_blank">www.ibrush.ru</a></p>
                        
                        <ul class="social">
                            <li>
                                <a href="#">
                                    <svg class="icon icon-vkontakte"><use xlink:href="#icon-vkontakte"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="icon icon-odnoklassniki"><use xlink:href="#icon-odnoklassniki"></use></svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>