            <div class="site-top">
                <header class="site-header">
                    <div class="site-header-top">
                        <div class="container">
                            <button class="icon icon-menu">
                                <span class="icon icon-bar"></span>
                                <span class="icon icon-bar"></span>
                                <span class="icon icon-bar"></span>
                            </button>
                            <a href="index.html" class="site-logo">
                                <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                            </a>
                            <div class="info">
                                <div class="city-block">
                                    <span class="city-current">
                                        <span>Санкт-Петербург</span>
                                        <svg class="icon icon-dropdown"><use xlink:href="#icon-dropdown"></use></svg>
                                    </span>
                                    <ul class="city-list">
                                        <li data-address="ул. Красноармейская, 54, эт. 3, оф.567" class="active"><a href="#">Санкт-Петербург</a></li>
                                        <li data-address="ул. Московкася, 54, эт. 3, оф.567"><a href="#">Москва</a></li>
                                        <li data-address="ул. Астраханьская, 54, эт. 3, оф.567"><a href="#">Астрахань</a></li>
                                        <li data-address="ул. Красноармейская, 54, эт. 3, оф.567"><a href="#">Кривой Рог</a></li>
                                        <li data-address="ул. Тимурская, 54, эт. 3, оф.567"><a href="#">Тимур</a></li>
                                        <li data-address="ул. Астраханьская, 54, эт. 3, оф.567"><a href="#">Астрахань</a></li>
                                        <li data-address="ул. Красноармейская, 54, эт. 3, оф.567"><a href="#">Кривой Рог</a></li>
                                        <li data-address="ул. Тимурская, 54, эт. 3, оф.567"><a href="#">Тимур</a></li>
                                    </ul>
                                </div>
                                <div class="address-block">
                                    <svg class="icon icon-address"><use xlink:href="#icon-address"></use></svg>
                                    <span class="address-current">ул. Красноармейская, 54, эт. 3, оф.567</span>
                                </div>
                            </div>
                            <div class="right hidden-xs">
                                <div class="tel-block">
                                    <span>Горячая линия</span>
                                    <a href="tel:88005552888">
                                        <svg class="icon icon-tel"><use xlink:href="#icon-tel"></use></svg>
                                        8 800 555 28 88
                                    </a>
                                </div>
                                <div class="tel-block">
                                    <span>Соискателям</span>
                                    <a href="tel:88007008484">
                                        <svg class="icon icon-tel"><use xlink:href="#icon-tel"></use></svg>
                                        8 800 700 84 84
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-header-bottom">
                        <div class="container">
                            <nav class="site-nav">
                                <ul>
                                    <li class="@@if(context.menu_item == 'vacancies') {active}"><a href="vacancies.html">Вакансии</a></li>
                                    <li class="@@if(context.menu_item == 'stock') {active}"><a href="stock.html">Акции</a></li>
                                    <li class="@@if(context.menu_item == 'staff') {active}"><a href="staff.html">Сотрудникам</a></li>
                                    <li class="@@if(context.menu_item == 'faq') {active}"><a href="faq.html">Вопрос и ответ</a></li>
                                    <li class="@@if(context.menu_item == 'offices') {active}"><a href="offices.html">Наши офисы</a></li>
                                    <li class="@@if(context.menu_item == 'about') {active}"><a href="about.html">О нас</a></li>
                                </ul>
                            </nav>
                            <div class="right">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#call_me">Перезвоните мне</button>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="site-header-mobile">
                    <div class="site-header-mobile__top">
                        <div class="site-header-mobile__header">
                            <button class="icon icon-menu">
                                <span class="icon icon-bar"></span>
                                <span class="icon icon-bar"></span>
                                <span class="icon icon-bar"></span>
                            </button>
                            <a href="index.html" class="site-logo">
                                <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                            </a>
                        </div>
                        <div class="site-header-mobile__menu">
                            <ul>
                                <li class="@@if(context.menu_item == 'index') {active}"><a href="index.html">Главная</a></li>
                                <li class="@@if(context.menu_item == 'vacancies') {active}"><a href="vacancies.html">Вакансии</a></li>
                                <li class="@@if(context.menu_item == 'stock') {active}"><a href="stock.html">Акции</a></li>
                                <li class="@@if(context.menu_item == 'staff') {active}"><a href="staff.html">Сотрудникам</a></li>
                                <li class="@@if(context.menu_item == 'faq') {active}"><a href="faq.html">Вопрос и ответ</a></li>
                                <li class="@@if(context.menu_item == 'offices') {active}"><a href="offices.html">Наши офисы</a></li>
                                <li class="@@if(context.menu_item == 'about') {active}"><a href="about.html">О нас</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="site-header-mobile__bottom">
                        <div class="city-block">
                            <span class="city-current">
                                <span>Санкт-Петербург</span>
                                <svg class="icon icon-dropdown"><use xlink:href="#icon-dropdown"></use></svg>
                            </span>
                            <ul class="city-list">
                                <li data-address="ул. Красноармейская, 54, эт. 3, оф.567" class="active"><a href="#">Санкт-Петербург</a></li>
                                <li data-address="ул. Московкася, 54, эт. 3, оф.567"><a href="#">Москва</a></li>
                                <li data-address="ул. Астраханьская, 54, эт. 3, оф.567"><a href="#">Астрахань</a></li>
                                <li data-address="ул. Красноармейская, 54, эт. 3, оф.567"><a href="#">Кривой Рог</a></li>
                                <li data-address="ул. Тимурская, 54, эт. 3, оф.567"><a href="#">Тимур</a></li>
                                <li data-address="ул. Астраханьская, 54, эт. 3, оф.567"><a href="#">Астрахань</a></li>
                                <li data-address="ул. Красноармейская, 54, эт. 3, оф.567"><a href="#">Кривой Рог</a></li>
                                <li data-address="ул. Тимурская, 54, эт. 3, оф.567"><a href="#">Тимур</a></li>
                            </ul>
                        </div>
                        <div class="address-block">
                            <svg class="icon icon-address"><use xlink:href="#icon-address"></use></svg>
                            <span class="address-current">ул. Красноармейская, 54, эт. 3, оф.567</span>
                        </div>

                        <div class="tel-block">
                            <span>Горячая линия</span>
                            <a href="tel:88007008484">
                                <svg class="icon icon-tel"><use xlink:href="#icon-tel"></use></svg>
                                8 800 700 84 84
                            </a>
                        </div>
                        <div class="tel-block">
                            <span>Соискателям</span>
                            <a href="tel:88007007185">
                                <svg class="icon icon-tel"><use xlink:href="#icon-tel"></use></svg>
                                8 800 700 71 85
                            </a>
                        </div>

                        <button type="button" class="btn btn-default">Перезвоните мне</button>
                    </div>
                </div>
                <main class="site-main">
